<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>JavaWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <servlet>
    <servlet-name>servletDemo01</servlet-name>
    <servlet-class>top.inick.servlet.ServletDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo01</servlet-name>
    <url-pattern>/demo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDemo02</servlet-name>
    <servlet-class>top.inick.servlet.ServletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo02</servlet-name>
    <url-pattern>/demo02</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDemo03</servlet-name>
    <servlet-class>top.inick.servlet.ServletDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo03</servlet-name>
    <url-pattern>/demo03</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDemo04</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo04</servlet-name>
    <url-pattern>/demo04</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDemo05</servlet-name>
    <servlet-class>top.inick.servlet.ServletDemo05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo05</servlet-name>
    <url-pattern>/demo05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo06</display-name>
    <servlet-name>ServletDemo06</servlet-name>
    <servlet-class>top.inick.servlet.ServletDemo06</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo06</servlet-name>
    <url-pattern>/demo06</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDemo07</servlet-name>
    <servlet-class>top.inick.servlet.ServletDemo07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo07</servlet-name>
    <url-pattern>/demo07</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletDemo08</servlet-name>
    <servlet-class>top.inick.servlet.ServletDemo08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo08</servlet-name>
    <url-pattern>/demo08</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet2Demo01</servlet-name>
    <servlet-class>top.inick.servlet2.ServletDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2Demo01</servlet-name>
    <url-pattern>/servlet2/demo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2Demo02</display-name>
    <servlet-name>Servlet2Demo02</servlet-name>
    <servlet-class>top.inick.servlet2.ServletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2Demo02</servlet-name>
    <url-pattern>/servlet2/demo02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2Demo03</display-name>
    <servlet-name>Servlet2Demo03</servlet-name>
    <servlet-class>top.inick.servlet2.ServletDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2Demo03</servlet-name>
    <url-pattern>/servlet2/demo03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2Demo04</display-name>
    <servlet-name>Servlet2Demo04</servlet-name>
    <servlet-class>top.inick.servlet2.ServletDemo04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2Demo04</servlet-name>
    <url-pattern>/servlet2/demo04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2Demo05</display-name>
    <servlet-name>Servlet2Demo05</servlet-name>
    <servlet-class>top.inick.servlet2.ServletDemo05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2Demo05</servlet-name>
    <url-pattern>/servlet2/demo05</url-pattern>
  </servlet-mapping>
  
  <!-- request练习的Servlet -->
  <servlet>
  	<servlet-name>requestServlet01</servlet-name>
  	<servlet-class>top.inick.request.ServletDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>requestServlet01</servlet-name>
  	<url-pattern>/request/demo01</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>requestServlet02</servlet-name>
  	<servlet-class>top.inick.request.ServletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>requestServlet02</servlet-name>
  	<url-pattern>/request/demo02</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>requestServlet03</servlet-name>
  	<servlet-class>top.inick.request.ServletDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>requestServlet03</servlet-name>
  	<url-pattern>/request/demo03</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>requestServlet04</servlet-name>
  	<servlet-class>top.inick.request.ServletDemo04</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>requestServlet04</servlet-name>
  	<url-pattern>/request/demo04</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>requestServlet05</servlet-name>
  	<servlet-class>top.inick.request.ServletDemo05</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>requestServlet05</servlet-name>
  	<url-pattern>/request/demo05</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>requestServlet06</servlet-name>
  	<servlet-class>top.inick.request.ServletDemo06</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>requestServlet06</servlet-name>
  	<url-pattern>/request/demo06</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>cookieServlet01</servlet-name>
  	<servlet-class>top.inick.cookie.CookieDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cookieServlet01</servlet-name>
  	<url-pattern>/cookie/demo01</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>cookieServlet02</servlet-name>
  	<servlet-class>top.inick.cookie.CookieDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cookieServlet02</servlet-name>
  	<url-pattern>/cookie/demo02</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>clearServlet</servlet-name>
  	<servlet-class>top.inick.cookie.ClearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>clearServlet</servlet-name>
  	<url-pattern>/cookie/clear</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>cookieLoginServlet</servlet-name>
  	<servlet-class>top.inick.cookie.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cookieLoginServlet</servlet-name>
  	<url-pattern>/cookie/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>cookieDoLoginServlet</servlet-name>
  	<servlet-class>top.inick.cookie.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cookieDoLoginServlet</servlet-name>
  	<url-pattern>/cookie/doLogin</url-pattern>
  </servlet-mapping>
</web-app>