<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>JavaWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- 创建一个Servlet实例 -->
  <servlet>
  	<servlet-name>servletDemo01</servlet-name>
  	<servlet-class>top.inick.servlet.ServletDemo01</servlet-class>
  </servlet>
  
  <!-- 给Servlet提供(映射)一个可供用户端访问的URI -->
  <servlet-mapping>
  	<servlet-name>servletDemo01</servlet-name>
  	<url-pattern>/demo01</url-pattern>
  </servlet-mapping>
  
</web-app>